body {
	/* font-family: 'Poppins', sans-serif; */
	margin: 0;
}

p::selection {
	background-color: #91ac41;
	color: white;
}


/* header */

.header {
	font-family: 'Poppins', sans-serif;
	background-color: white;
	width: 100%;
	height: 77px;
	display: flex;
	z-index: 1;
	justify-content: space-between;
	align-items: center;
	padding: 0 28px;
	box-sizing: border-box;
	position: fixed;
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

#logo {
	width: 40px;
}

.menubar {
	display: block;
}

.menuParentItems {
	display: inline-block;
	position: relative;
}

.menuItem {
	color: black;
	font-weight: 600;
	font-size: 14px;
	margin-right: 24px;
	cursor: pointer;
	text-decoration: none;
}

.menuParentItems:hover .menuChildItems {
	display: block;
}

.menuChildItems {
	width: 120px;
	border-top: 2px solid rgb(170, 210, 54);
	padding: 20px;
	position: absolute;
	right: 24px;
	background-color: white;
	box-shadow: 0 2px 5px #ccc;
	display: none;
}

.menuChildItems a {
	text-align: center;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #ccc;
	padding: 4px;
	cursor: pointer;
}

.menuChildItems a:hover {
	color: #91ac41;
}

.buyNowBtn {
	font-size: 12px;
	font-weight: 600;
	color: white;
	background-color: rgb(170, 210, 54);
	padding: 9px 34px;
	text-transform: uppercase;
	border: 0;
	border-radius: 4px;
	margin-right: 16px;
	cursor: pointer;
}

.buyNowBtn:hover {
	background-color: rgb(123, 153, 31);
}


/* section 1 */

#firstSection {
	font-family: 'Poppins', sans-serif;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('https://i.imgur.com/5xAkZg9.jpg');
	/* opacity: 0.5; */
	background-repeat: no-repeat;
	background-size: cover;
}

.box1 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.heading {
	width: 100%;
	max-width: 1100px;
	font-size: 44px;
	font-weight: 600;
	letter-spacing: 8.8px;
	line-height: 1.2;
	text-align: center;
	margin: 0;
}

.paragraph {
	width: 100%;
	max-width: 1100px;
	font-size: 14px;
	letter-spacing: 0.5px;
	font-weight: 400;
	/* color: #8b8b99; */
	color: #64646e;
	text-align: center;
	padding-top: 32px;
}


/* section 2 */

#secondSection {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
}

.box2 {
	width: 25%;
	padding: 112px 48px;
	text-align: center;
	color: white;
	box-sizing: border-box;
}

.box2:hover i {
	transform: scale(1.2, 1.2);
	transition: 0.5s;
}

.box2 h3 {
	font-weight: 600;
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
}

.box2 p {
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 1.6;
	margin-top: 0;
	font-family: 'Poppins', sans-serif;
}

#box2-1 {
	background-color: #5acda6;
}

#box2-2 {
	background-color: #91ac41;
}

#box2-3 {
	background-color: #e4b476;
}

#box2-4 {
	background-color: #f69dad;
}


/* section 3 */

#thirdSection {
	width: 100%;
	background-color: #f7eee2;
	padding-top: 75px;
	padding-bottom: 75px;
	text-align: center;
}

#freshFood {
	text-align: center;
	color: #91ac41;
	font-size: 24px;
	font-family: 'Caveat', cursive;
	margin: 0;
	margin-top: 35px;
}

#thirdSection>h1 {
	text-align: center;
	font-size: 44px;
	font-weight: 600;
	margin: 0;
	margin-bottom: 8px;
	font-family: 'Poppins', sans-serif;
}

#shortDescription {
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	margin: 0;
	color: #8b8b99;
	letter-spacing: 0.5px;
	margin-bottom: 55px;
	font-family: 'Poppins', sans-serif;
}

.box3 {
	width: 100%;
	max-width: 1140px;
	display: flex;
	justify-content: stretch;
	margin: 0 auto;
}

.box3Items {
	width: 25%;
	text-align: center;
	/* padding: 24px; */
	margin: auto;
}

.box3Icon {
	display: inline-block;
	background-color: #e3b375;
	border-radius: 50%;
	padding: 40px;
	color: white;
	transition: all 0.3s;
}

.box3Items:hover .box3Icon {
	transform: scale(1.2, 1.2);
}

.box3Items h2 {
	font-size: 24px;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
}

.box3Items p {
	font-size: 16px;
	letter-spacing: 0.5px;
	font-weight: 500;
	color: #8b8b99;
	font-family: 'Poppins', sans-serif;
}


/* section 4 */

#fourthSection {
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
	text-align: center;
}

#fourthSection>h1 {
	text-align: center;
	font-size: 44px;
	font-weight: 600;
	margin: 0;
	margin-bottom: 8px;
	font-family: 'Poppins', sans-serif;
}

.box4 {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.box4Items {
	width: 25%;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: #f5f6fb;
	padding: 40px 30px;
	margin: 16px;
	border-top-left-radius: 45px;
	border-bottom-left-radius: 45px;
	border-bottom-right-radius: 45px;
	transition: box-shadow 0.3s;
}

.box4Items img {
	width: 80px;
	margin-bottom: 25px;
	border-radius: 50%;
}

.box4About {
	font-size: 14px;
	color: #8b8b99;
	letter-spacing: 0.5px;
	font-style: italic;
	margin: 0;
}

.box4Items h3 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	margin-top: 24px;
	margin-bottom: 0px;
}

.box4Profile {
	color: #8b8b99;
	font-size: 12px;
	font-style: italic;
	letter-spacing: 0.5px;
	margin: 0;
}

.box4Items:hover {
	box-shadow: 0 12px 16px 0 rgba(39, 39, 47, 0.06);
}


/* section 5 */

.fifthSection {
	/* display: flex; */
	justify-content: stretch;
}

.strawberry {
	width: 67%;
	display: inline-block;
	margin: 0;
}

.strawberry img {
	width: 100%;
	height: 700px;
}

.subscribeForm {
	width: 33.33%;
	margin: 0;
	display: inline-block;
	background-image: url('https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png');
	/* background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.5)), url('https://mobirise.com/extensions/organicamp/assets/images/19.jpg'); */
	background-position: left;
	background-size: cover;
}


/* https://firebasestorage.googleapis.com/v0/b/demoapi-43d03.appspot.com/o/strawberry-white.png?alt=media&token=abf5f1c9-699d-4778-83ec-ae025bf6b066 */

.followUs {
	margin: 110px;
	font-family: 'Poppins', sans-serif;
}

.followUs h3 {
	font-size: 44px;
	font-weight: 600;
	margin: 0 0 8px;
}

.followUs p {
	/* color: #8b8b99; */
	color: rgb(75, 68, 68);
	font-size: 16px;
	letter-spacing: 0.5;
	line-height: 1.6;
	margin: 0;
}

#subscribe {
	width: 100%;
	box-sizing: border-box;
	border: 0;
	border-radius: 4px;
	font-weight: 500;
	background-color: white;
	padding: 12px;
	color: #8b8b99;
	font-size: 16px;
	margin-top: 60px;
	display: block;
}

#subscribeBtn {
	background-color: #f69dad;
	padding: 16px 42px;
	border-radius: 4px;
	cursor: pointer;
	color: white;
	border: 0;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 16px;
}

#subscribeBtn:hover {
	color: rgb(75, 68, 68);
	border: 1px solid rgb(75, 68, 68);
	/* color: #f69dad;
    border: 1px solid #f69dad; */
	background-color: transparent;
}


/* section 6 */

#sixthSection {
	display: inline-flex;
	width: 100%;
	background-color: #f6fcfa;
}

.visitorDetails {
	width: 100%;
	max-width: 1140px;
	padding: 100px 0;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: stretch;
}

.box6 {
	width: 25%;
	padding: 0 64px;
}

.box6 h2 {
	font-size: 44px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	margin: 0;
}

.box6 p {
	color: #57e3b5;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.5px;
	font-style: italic;
	margin: 0;
}


/* section 7 */

#seventhSection h3 {
	color: #8b8b99;
	font-size: 44px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}

#seventhSection>div {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	text-align: center;
}

#line-separator {
	width: 150px;
	display: inline-block;
	height: 1px;
	background-color: #e4b476;
	margin-bottom: 36px;
}

#seventhSection iframe {
	width: 100%;
  max-width: 300%;
	height: 450px;
}


/* section 8 */

#eighthSection {
	font-family: 'Poppins', sans-serif;
	display: block;
}

.contactAndInTouch {
	font-family: 'Poppins', sans-serif;
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 100px 0;
}

.contact {
	color: #91ac41;
	font-size: 24px;
	font-family: 'Caveat', cursive;
	margin: 0;
	margin-top: 35px;
}

.addInfo {
	font-size: 44px;
	margin: 0;
}

.description {
	font-size: 16px;
	font-weight: 400;
	color: #8b8b99;
	letter-spacing: 0.5px;
}

.lStore {
	font-size: 24px;
	font-weight: 600;
	margin: 0;
	margin-top: 32px;
}

.address {
	font-size: 16px;
	font-weight: 400;
	color: #8b8b99;
	letter-spacing: 0.5px;
	line-height: 2;
	margin: 0;
}

#visitorForm {
	display: block;
	margin-top: 0em;
}

input,
textarea {
	font-family: 'Poppins', sans-serif;
	outline: none;
}

.inputArea {
	width: 100%;
	padding: 16px;
	font-size: 16px;
	color: #8b8b99;
	border-radius: 6px;
	border: 1px solid #e5e6ec;
	margin-bottom: 16px;
	box-sizing: border-box;
}

.submitButton {
	font-size: 16px;
	font-weight: 600;
	color: white;
	background-color: rgb(170, 210, 54);
	padding: 9px 34px;
	text-transform: uppercase;
	border: 0;
	border-radius: 4px;
	margin-right: 16px;
	cursor: pointer;
}

.contactAndInTouch>div {
	width: 50%;
}

.contactAndInTouch>div:last-of-type {
	width: 40%;
}


/* footer */

footer {
	background-color: #232323;
	color: white;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.5px;
	text-align: center;
	padding: 30px 0px;
}


/* ==========================media queries========================= */

@media(max-width: 1160px) {
	.box1>.paragraph {
		max-width: 800px;
	}
}

@media(max-width: 1060px) {
	.followUs {
		margin-top: 50px;
		margin-left: 30px;
		margin-right: 30px;
	}
}

@media(max-width: 1220px) {
	.contactAndInTouch {
		max-width: 1000px;
		margin: 0 auto;
		/* display: flex; */
		justify-content: space-between;
		padding: 50px 0;
	}
	.followUs {
		padding-top: 70px;
		margin-left: 25px;
		margin-right: 25px;
	}
}

@media(max-width: 1070px) {
	.box2>i {
		font-size: 70px;
	}
	.box2 {
		padding: 112px 20px;
	}
	.box3Items>.box3Icon {
		font-size: 10px;
	}
	.box3Items p {
		padding-left: 10px;
		padding-right: 10px;
		font-size: 13px;
	}
}

@media(max-width: 1070px) {
	.contactAndInTouch {
		max-width: 800px;
		padding: 80px 0;
	}
}

@media(max-width: 940px) {
	.box1>.heading {
		max-width: 90%;
		font-size: 35px;
		line-height: 50px;
		text-align: center;
	}
}

@media(max-width: 880px) {
	/* section 4 */
	#fourthSection>#shortDescription {
		padding-left: 80px;
		padding-right: 80px;
	}
	/* section 1 */
	.box1>.paragraph {
		max-width: 80%;
	}
	/* section 2 */
	#secondSection {
		width: 100%;
		display: block;
		flex-direction: row;
		justify-content: stretch;
	}
	.box2 {
		flex-direction: column;
		width: 100%;
		padding-left: 40px;
		padding-right: 40px;
	}
	/* section 3 */
	#thirdSection h1 {
		font-size: 35px;
	}
	.box3 {
		flex-direction: column;
	}
	.box3Items {
		width: 100%;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	/* section 4 */
	#fourthSection h1 {
		font-size: 35px;
	}
	.box4 {
		flex-direction: column;
	}
	.box4Items {
		width: 70%;
	}
	/* section 5 */
	.subscribeForm h3 {
		font-size: 35px;
	}
	#fifthSection {
		flex-direction: column;
	}
	.strawberry {
		width: 100%;
	}
	.strawberry>img {
		height: 450px;
	}
	.subscribeForm {
		width: 100%;
	}
	.followUs {
		width: 50%;
		margin: auto;
		padding-bottom: 40px;
	}
	/* section 6 */
	.visitorDetails {
		flex-direction: column;
	}
	.box6 {
		width: 60%;
		margin: auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	/* section 7 */
	#seventhSection h3 {
		font-size: 35px;
	}
	/* section 8 */
	.contactAndInTouch h2 {
		font-size: 35px;
	}
	.contactAndInTouch {
		flex-direction: column;
	}
	#eighthSection .contactUs {
		width: 70%;
		margin: auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	#eighthSection .meetOurTeam {
		width: 70%;
		margin: auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

@media(max-width: 800px) {
	.menuItem {
		display: none;
	}
}

@media(max-width: 500px) {
	.buyNowBtn {
		font-size: 10px;
		margin-right: 0;
	}
	#firstSection {
		padding-top: 120px;
		/* height: 150vh; */
	}
	#firstSection h1 {
		font-size: 25px;
		line-height: 35px;
		letter-spacing: 1px;
		word-spacing: 2px;
	}
	.followUs {
		width: 80%;
		margin: auto;
		padding-bottom: 40px;
	}
	footer {
		font-size: 9px;
	}
}